:root {
    /* Primary */
    --light-red: 0, 100%, 67%;
    --orangey-yellow: 39, 100%, 56%;
    --green-teal: 166, 100%, 37%;
    --cobalt-blue: 234, 85%, 45%;

    /* Gradients */
    /*background*/
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    /*circle*/
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    /* Use transparency to get the colour variations 
    necessary to match the design. 
    Hint: look into using `hsla()`. */
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
    /* Medium 500 - Bold 700 - Extra Bold 800 */
}

/* LEFT SECTION */
#result-section {
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    text-align: center;
    border-radius: 0 0 25px 25px;
    padding: 20px 60px 40px;
    color: var(--light-lavender);
}

section #circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-size: 3rem;
    font-weight: 800;
    color: var(--white);
}

section #circle span {
    color: hsla(241, 100%, 89%, 0.5);
    font-size: 0.8rem;
}

h2 {
    color: var(--white);
    margin-bottom: 12px;
    font-size: 1.2rem;
}

section p {
    font-size: 0.8rem;
}


/* BOTTOM FOOTER */
footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}